/* Cal.css */
.react-calendar {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    font-family: Arial, sans-serif;
    max-width: 300px;
}

.react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    overflow: hidden;
    border-radius: 4px;
}

.react-calendar__navigation button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 4px;
    font-size: 14px;
    cursor: pointer;
    flex-grow: 1;
    transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
}

.react-calendar__navigation button:disabled {
    background-color: #cccccc;
}

/* Remove hover effect */
.react-calendar__navigation button:hover {
    background-color: #dc3545; /* Retain the original background color */
    border-radius: 0; /* Retain the original border radius */
}

.react-calendar__navigation button:focus {
    outline: none;
}

.react-calendar__navigation button:active {
    background-color: #c82333;
    border-radius: 50px;
    transition: none;
}

.react-calendar__navigation button:active:enabled:focus, 
.react-calendar__navigation button:active:enabled:hover {
    background-color: #c82333;
    border-radius: 50px;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    color: #666666;
    margin-bottom: 4px;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 5px;
    position: relative;
}

.react-calendar__month-view__weekdays__weekday abbr {
    display: none;
}

.react-calendar__month-view__days__day {
    font-size: 0.9em;
    color: #333333;
    text-align: center;
}

.react-calendar__tile {
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive {
    background-color: #dc3545;
    color: white;
}

.react-calendar__tile--now {
    background-color: #f8d7da;
    color: #dc3545;
    font-weight: bold;
}

.react-calendar__tile:hover {
    background-color: #ff0019;
    cursor: pointer;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive:focus,
.react-calendar__tile--hasActive:hover,
.react-calendar__tile--hasActive:enabled:hover {
    background-color: #dc3545 !important;
    color: white !important;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive:focus,
.react-calendar__tile--hasActive:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background-color: #dc3545 !important;
    color: white !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #cccccc;
}

.react-calendar__navigation__label {
    font-size: 1em;
    font-weight: bold;
}
