
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromRight 0.5s ease-out forwards;
}

/* .group:hover .absolute {
  transform: translateX(0);
}
.absolute {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
} */


